h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    color:black;
   }
form {
    max-width: 400px;
    margin: auto;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  