<app-navbar></app-navbar>
<br/>
<h1>Reservation and Ticketing</h1>
<button (click)="generatePDF()" class="button-34" role="button">Generate PDF</button>
<br/><br/>
<table>
    <thead>
      <tr>
        <th>Flight Name</th>
        <th>From</th>
        <th>To</th>
        <th>Ticket Price</th>
        <th>Passenger Name</th>
        <th>class</th>
        <th>No of Tickets</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.flightname }}</td>
        <td>{{ ticket.from }}</td>
        <td>{{ ticket.to }}</td>
        <td>{{ ticket.price }}</td>
        <td>{{ ticket.passname }}</td>
        <td>{{ ticket.class }}</td>
        <td>{{ ticket.ticket }}</td>
        <td>
          <button (click)="editTicket(ticket)"class="button-32" role="button">Edit</button>
          <button (click)="deleteTicket(ticket)"class="button-33" role="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br/><br/>
  <h1>
    {{ ticketForm.value.id ? 'Update Reservation Information' : 'Add Reservation Information' }}
  </h1>
<br/><br/>


<form [formGroup]="ticketForm" (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="flightName">Flight Name</label>
        <input type="text" class="form-control" id="flightName" placeholder="Enter Flight Name" formControlName="flightname" >
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
        <label for="inputFrom">From</label>
        <select id="inputFrom" class="form-control" formControlName="from" >
          <option selected>Choose...</option>
          <option>Sri Lanka</option>
          <option>Japan</option>
          <option>Korea</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="inputTo">To</label>
        <select id="inputFrom" class="form-control" formControlName="to" >
          <option selected>Choose...</option>
          <option>Sri Lanka</option>
          <option>Japan</option>
          <option>Korea</option>
        </select>
      </div>
      </div>
      <div class="form-group">
        <label for="price">Ticket Price</label>
        <input type="text" class="form-control" id="price" placeholder="Enter Ticket Price" formControlName="price" >
    </div>
    <div class="form-group">
      <label for="passName">Passenger Name</label>
      <input type="text" class="form-control" id="passName" placeholder="Enter Passenger Name" formControlName="passname" >
    </div>
      <div class="form-group">
        <label for="inputClass">Class</label>
        <input type="text" class="form-control" id="inputClass" placeholder="Enter class" formControlName="class" >
      </div>
      <div class="form-group">
        <label for="inputTicket">Number of Tickets</label>
        <input type="number" class="form-control" id="inputTicket" placeholder="Number of Tickets" formControlName="ticket"  >
      </div>
    <button type="submit" class="btn btn-primary">
      {{ ticketForm.value.id ? 'Update Reservation' : 'Add Reservation' }}
    </button>
  </form>

  <div #content class="hidden-content">
    <table>
      <thead>
        <tr>
          <th>Flight Name</th>
          <th>From</th>
          <th>To</th>
          <th>Ticket Price</th>
          <th>Passenger Name</th>
          <th>class</th>
          <th>No of Tickets</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td>{{ ticket.flightname }}</td>
          <td>{{ ticket.from }}</td>
          <td>{{ ticket.to }}</td>
          <td>{{ ticket.price }}</td>
          <td>{{ ticket.passname }}</td>
          <td>{{ ticket.class }}</td>
          <td>{{ ticket.ticket }}</td>
        </tr>
      </tbody>
    </table>

  </div>

  