body {
    background-image: url('./images/airline.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  h1 {
    text-align: center;
    font-size: 80px;
    padding-top: 50px;
    color:rgb(177, 26, 127);
}